{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src"
        }
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "add-module-exports",
    "babel-plugin-styled-components"
  ]
}
