LOG_LEVEL=info

# Base path
BASE_PATH=http://localhost:3000

# Blockchain API URL
ETHEREUM_NODE_ENDPOINT_WS=ws://localhost:8545

# Service Endpoints
GRAPH_NODE_ENDPOINT=http://graph.culturestake.local
API_ENDPOINT=http://localhost:3000/api

# Graph node
SUBGRAPH_NAME=LazarusLabs/culturestake-subgraph

# Database
DATABASE_URL=postgres://postgres:super-password@localhost:5432/culturestake-development
DATABASE_DIALECT=postgres

# Database for test environment
DATABASE_TEST_URL=postgres://postgres:super-password@localhost:5432/culturestake-test

# JWT Authentication
JWT_SECRET=secret

# Secret hash method
HASH_PRIVATE_KEY=0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d
