LOG_LEVEL=info

# Base path
BASE_PATH=http://localhost:3000

# Blockchain API URL
ETHEREUM_NODE_ENDPOINT_WS=ws://localhost:8545

# Service Endpoints
GRAPH_NODE_ENDPOINT=http://127.0.0.1:8000/
API_ENDPOINT=http://localhost:3000/api

# Graph node
SUBGRAPH_NAME=culturestake-subgraph

# Database
DATABASE_URL=postgres://postgres:super-password@localhost:5432/culturestake-development
DATABASE_DIALECT=postgres

# Database for test environment
DATABASE_TEST_URL=postgres://postgres:super-password@localhost:5432/culturestake-test
BOOTH_PRIV_KEY=c72e8acaf6e111d568918c13e4ae033bceb82d32ef4f4a7e9c42504d09e7d3d8

# JWT Authentication
JWT_SECRET=secret

# TX dispatcher
ADMIN_CONTRACT=0xCfEB869F69431e42cdB54A4F4f105C19C080A601
PAYER_PRIV_KEY=b0057716d5917badaf911b193b12b910811c1497b5bada8d7711f758981c3773
PAYER_ADDRESS=0x1dF62f291b2E969fB0849d99D9Ce41e2F137006e

# Barcode helper service
BARCODE_URL="https://barcode.tec-it.com/barcode.ashx?data={barcode}&code=Code128&multiplebarcodes=false&translate-esc=false&unit=Fit&dpi=600&imagetype=jpg&rotation=0&color=%23000000&bgcolor=%23ffffff&codepage=&qunit=Mm&quiet=0"
