<div style="max-width: 600px !important; margin: auto;">

h2(style="min-width: 100% !important; background-color: #60ff91; padding: 18px 0px; text-align: center; font-family: Helvetica; line-height: 150%;") August is voting time!

| All 
a(href='https://peoplesparkplinth.org/') People's Park Plinth
|  artworks are now live for you to experience and vote. You can find them in Finsbury Park (Furtherfield Gallery) and online by scanning QR codes and clicking links.

|
p When you have experienced all three, pick which one you think belongs right here in the heart of Finsbury Park! It’s your park, so it’s your pick! 

|
|
img(src='https://culturestake.org/static/peoples-park-plinth.jpg' alt="Welcome to the People's Park Plinth" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px; text-align: right; margin-top: 0px;") Visual identity by Studio Hyte

h4(style="padding: 10px 0px 10px 10px; margin-bottom: 5px; font-size: 14px; font-style: italic; background-color: #60ff91; width: 100%;") We are just animals, humans, and machines getting on together in specific lifeworlds 
p(style="margin-top: 5px; text-align: center;") Breath Mark x Lisa Hall & Hannah Kemp-Welch 

|
h4(style="padding: 10px 0px 10px 10px; margin-bottom: 5px; font-size: 14px; font-style: italic; background-color: #60ff91; width: 100%;") Based on a Tree Story 
p(style="margin-top: 5px; text-align: center;") Hervisions x Ayesha Tan Jones

|
h4(style="padding: 10px 0px 10px 10px; margin-bottom: 5px; font-size: 14px; font-style: italic; background-color: #60ff91; width: 100%;") Future Fictions for Finsbury Park 
p(style="margin-top: 5px; text-align: center;") Desree x Drumming School with Alex Dayo x Studio Hyte

|
|
a(style="border: 4px solid #d5b5dd; border-radius: 20px; padding: 18px; width: 60%; margin: 20px auto 10px auto; display: block; text-align: center; font-size: 16px; text-decoration: none;" href='https://peoplesparkplinth.org/') Go to the People&apos;s Park Plinth

|
|
h3(style="padding: 10px 0px 10px 10px; margin-bottom: 5px; font-size: 14px; font-style: italic; background-color: #60ff91; width: 100%;") ➔ ACCESSING THE WORKS:

|
|
h4 ➔ If you’re in Finsbury Park

ul 

li Start at <a href='https://www.furtherfield.org/visit-us/'>Furtherfield Gallery</a> (the People's Park Plinth) in Finsbury Park

li Scan the QR codes on display outside the gallery with your mobile

li Follow the instructions to get the different artworks set up on your browser

li Enjoy the three different ‘taster’ experiences in the Park! 

|
|
img(src='https://culturestake.org/static/park-map.jpg' alt="Welcome to the People's Park Plinth" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px; text-align: right; margin-top: 0px;") Finsbury Park Map by Studio Hyte

|
|
h4 ➔ If you’re somewhere else

ul 

li From your mobile, select the work from the <a href='https://peoplesparkplinth.org/'>People's Park Plinth</a> website

li Follow the instructions to get the different artworks set up on your browser

li Enjoy the three different ‘taster’ experiences from the comfort of your home or prefer location! 

|
|
img(src='https://culturestake.org/static/ppp-website-design.png' alt="Welcome to the People's Park Plinth" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px; text-align: right; margin-top: 0px;") The People’s Park Plinth Website (peoplesparkplinth.org). Design: Studio Hyte

|
|
a(style="border: 4px solid #d5b5dd; border-radius: 20px; padding: 18px; width: 60%; margin: 20px auto 10px auto; display: block; text-align: center; font-size: 16px; text-decoration: none;" href=process.env.BASE_PATH + '/festivals/' + festivalSlug + '/invitations') Get your vote link

|
|
img(src='https://culturestake.org/static/ppp-visitors-information.png' alt="Welcome to the People's Park Plinth" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px;") You received this email because you signed up to take part in the vote for the <strong>People’s Park Plinth</strong> and choose which artwork you wanted to see in Finsbury Park. We will not use your email address for any other purposes.

</div>