<div style="max-width: 600px !important; margin: auto;">

h2(style="min-width: 100% !important; background-color: #60ff91; padding: 18px 0px; text-align: center; font-family: Helvetica; line-height: 150%;") It’s time to vote!

p Congratulations on experiencing all the artworks at the <a href='https://peoplesparkplinth.org'>People's Park Plinth</a>

|
|
img(src='https://culturestake.org/static/furtherfield-gallery.jpg' alt="Furtherfield Gallery" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px; text-align: right; margin-top: 0px;") People’s Park Plinth at Furtherfield Gallery, Finsbury Park. Photo by Bing Ye

p Now it’s time to let us know which one should be developed at a larger scale for a bigger experience in Finsbury Park this October. It’s your park, so it’s your pick!

p The voting period for People’s Park Plinth starts at 12.00 on Sat 14th August and ends at midnight (BST) on August 31st, 2021. After that no more votes can be placed or counted!

|
h4 STEP 1. Consider the artworks

ul

li Each digital artwork has already been created and presented as a ‘taster’ or smaller version. In their ‘about’ sections the artists tell us what else they can make if you pick their work for Finsbury Park. Look through the descriptions of all the three artworks you experienced at the <strong>People’s Park Plinth</strong> and decide which larger experience you want to have.

|
h4 STEP 2. Activate your magical voting token

ul

li You now need to click on <a href=process.env.BASE_PATH + '/festivals/' + festivalSlug + '/invitations/' + random>this link</a> which will activate your single-use magical voting token. You will have 30 minutes to use it before it expires - but don’t worry voting takes less than 5 minutes!

|
h4 STEP 3. VOTE! 

ul

<li> Welcome to the CultureStake app where the voting happens. Tell us how you feel about each of the artworks by sliding the sliders. You’ll notice that your voting credits get low as you vote. If you want more voting credits, you’ll need to take a few votes off an existing selection. Submit your choices and slide the sliders again to tell us a bit more about your pick. 

<ul> <li> Why? Because this type of voting is unlike any other in that it creates a new economy of opinion and emotion where you can really emphasise what is most important to you in your voting.</li> </ul>

</li>

p Watch this space. When all the votes are in at the end of August, we will share what was important to all of you in making your selections. Then we’ll work with the artist(s) to make the work you all chose. And we’ll contact you when it’s nearly ready, so we can all make plans to enjoy it together in Autumn 2021. 

p If you have any questions or trouble accessing CultureStake, don’t hesitate to contact us at info@furtherfield.org.

p(style="font-family: Helvetica; font-size: 10px;") You received this email because you signed up to take part in the vote for the <strong>People’s Park Plinth</strong> and choose which artwork you wanted to see in Finsbury Park. We will not use your email address for any other purposes.

</div>