<div style="max-width: 600px !important; margin: auto;">

h2(style="min-width: 100% !important; background-color: #60ff91; padding: 18px 0px; text-align: center; font-family: Helvetica; line-height: 150%;") August is voting time!

|
p Congratulations on experiencing all the artworks at the People’s Park Plinth, now it’s time to... 

|
|
a(style="background-color: #d5b5dd; color: black; border-radius: 20px; padding: 18px; width: 60%; margin: 20px auto 20px auto; display: block; text-align: center; font-size: 16px; text-decoration: none;" href=process.env.BASE_PATH + '/festivals/' + festivalSlug + '/invitations') GET YOUR MAGICAL VOTING TOKEN

|
|
img(src='https://culturestake.org/static/peoples-park-plinth.jpg' alt="Welcome to the People's Park Plinth" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px; text-align: right; margin-top: 0px;") Visual identity by Studio Hyte

|
p Now you’ve seen all 3 <a href='https://peoplesparkplinth.org/'>artworks</a> on your smartphone click the button above to receive your single-use magical voting token. This token will bestow you with 30 ‘voice credits’ to distribute to the artwork(s) you would like to be realised bigger and better in Finsbury Park in Autumn 2021.  

|
p Now you’ve seen all 3 <a href='https://peoplesparkplinth.org/'>artworks</a> on your smartphone click the button above to receive your single-use magical voting token. This token will bestow you with 30 ‘voice credits’ to distribute to the artwork(s) you would like to be realised bigger and better in Finsbury Park in Autumn 2021.  

|
p You will just need to verify your email address and then voting will take less than 5 minutes!

|
p For more information about People’s Park Plinth and how voting on CultureStake works visit our <a href='https://docs.google.com/document/d/1gzvD9XIg7-EhT5MZCFHiBuO9VGlPFUa0VAO7StpJAag/edit'>FAQs</a>

|
p If you have any questions or trouble accessing CultureStake, don’t hesitate to contact us at info@furtherfield.org.

p(style="font-family: Helvetica; font-size: 10px;") You received this email because you signed up to take part in the vote for the <strong>People’s Park Plinth</strong> and choose which artwork you wanted to see in Finsbury Park. We will not use your email address for any other purposes.

</div>