<div style="max-width: 600px !important; margin: auto;">

h2(style="min-width: 100% !important; background-color: #60ff91; padding: 18px 0px; text-align: center; font-family: Helvetica; line-height: 150%;") It’s time to vote!

p Thank you so much for coming to experience all the artworks at the <a href='https://peoplesparkplinth.org'>People's Park Plinth</a>

|
|
img(src='https://culturestake.org/static/Furtherfield Gallery_People’s Park Plinth_Photo by Bing Ye.jpg' alt="Welcome to the People's Park Plinth" style="width: 100%;") 

p(style="font-family: Helvetica; font-size: 10px; text-align: right; margin-top: 0px;") People’s Park Plinth at Furtherfield Gallery, Finsbury Park. Photo by Bing Ye

p Now it’s time to let us know which experience should be developed at a larger scale for a bigger experience in Finsbury Park this October. It’s your park, so it’s your pick!

p Each digital artwork has already been presented as a ‘taster’ or smaller version. In their ‘about’ sections the artists hinted at what else they could make if you pick their work for Finsbury Park.

p You now need to click

a(style="border: 4px solid #d5b5dd; border-radius: 20px; padding: 18px; width: 60%; margin: 20px auto 10px auto; display: block; text-align: center; font-size: 16px; text-decoration: none;" href=process.env.BASE_PATH + '/festivals/' + festivalSlug + '/invitations/' + random) HERE

p which will activate your single-use voting credits. 

p Once clicked, it will take you to the CultureStake voting platform where you can tell us which artwork you want. 

h4(style="padding: 10px 0px 10px 10px; margin-bottom: 5px; font-size: 14px; font-style: italic; background-color: #60ff91; width: 100%;") To vote:

h4 STEP 1. 
p Look through the descriptions of all the three artworks you experienced at the People’s Park Plinth

h4 STEP 2. 
p Check how they will be created bigger and better if they are selected through the voting process. 

h4 STEP 3. 
p Now, tell us how you feel about each of them by sliding the sliders. You’ll notice that your voting credits get low as you vote. If you want more voting credits, you’ll need to take a few votes off an existing selection. 

h4 STEP 4.
p Submit your choices and follow the same steps to tell us a bit more about how you felt about the experience you liked the most. 

h4 STEP 5. 
p Watch this space. When all the votes are in at the end of August, we will share what was important to all of you in making your selections. Then we’ll work with the artist(s) to make the work you all chose. And we’ll contact you when it’s nearly ready, so we can all make plans to enjoy it together in October 2021. 

|
|
a(href='https://peoplesparkplinth.org/') See here for a detailed guide on how to vote

p If you have any questions or trouble accessing CultureStake, don’t hesitate to contact us at info@furtherfield.org.

p(style="font-family: Helvetica; font-size: 10px;") You received this email because you signed up to take part in the vote for the <strong>People’s Park Plinth</strong> and choose which artwork you wanted to see in Finsbury Park. We will not use your email address for any other purposes.

</div>