<div style="max-width: 600px !important; margin: auto;">


p Ready to vote?

|
|
p Verify this email address to get a magical voting token.

|
|
p Your magical voting token arrives in a second email. It’s ONLY active for 15-minutes.

|
|
a(style="background-color: #60ff91; color: black; border-radius: 20px; padding: 18px; width: 60%; margin: 20px auto 20px auto; display: block; text-align: center; font-size: 16px; text-decoration: none;" href=process.env.BASE_PATH + '/events/' + festivalSlug + '/invitations') GET YOUR MAGICAL VOTING TOKEN

|
|
p CultureStake - It’s your culture, it’s your call!
